services:
  myDB:
    image: postgres:15.3
    container_name: my-database
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=alumno
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=course-db
    volumes:
      - ./postgres:/var/lib/postgresql/data

  pgAdmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: always
    depends_on:
      - myDB
    ports:
      - "8080:80"  # Usaremos el 8080 para evitar bloqueos del sistema
    environment:
      - PGADMIN_DEFAULT_EMAIL=alumno@google.com
      - PGADMIN_DEFAULT_PASSWORD=123456
      - PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION=False # Ayuda en local
    volumes:
      - ./pgadmin_data:/var/lib/pgadmin # Cambiamos el nombre de la carpeta local